amqp==5.2.0
asgiref==3.8.1
billiard==4.2.0
celery==5.4.0
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cron-descriptor==1.4.3
deprecated==1.2.14
django==4.2.13
django-celery-beat==2.6.0
django-celery-results==2.5.1
django-debug-toolbar==4.4.2
django-ipware==3.0.7
django-rest-multitokenauth==1.4.0
django-sslserver==0.22
django-timezone-field==6.1.0
djangorestframework==3.15.2
dnspython==2.6.1
gunicorn==22.0.0
idna==3.7
kombu==5.3.7
numpy==1.26.4
packaging==24.1
pandas==2.2.2
prompt-toolkit==3.0.47
psycopg2-binary==2.9.9
publicsuffixlist==0.10.1.20240612
pymisp==2.4.193
pymongo==4.6.3
python-crontab==3.1.0
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
six==1.16.0
sqlparse==0.5.0
tzdata==2024.1
urllib3==2.2.2
vine==5.1.0
wcwidth==0.2.13
wrapt==1.16.0
