django
celery
django_celery_beat
django_celery_results
requests
pandas
pymongo==4.6.3
django_debug_toolbar
django-sslserver
djangorestframework
django-rest-multitokenauth==1.4.0
psycopg2-binary
gunicorn
pymisp
