asgiref==3.3.4
certifi==2020.12.5
chardet==4.0.0
demjson==2.2.4
Django==3.2.4
django-debug-toolbar==3.2.1
django-sslserver==0.22
gunicorn==20.1.0
idna==2.10
nclib==1.0.0
numpy==1.20.2
pandas==1.2.4
psycopg2-binary==2.8.6
pycryptodome==3.10.1
pymongo==3.11.3
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
six==1.15.0
sqlparse==0.4.1
urllib3==1.26.5
