{% load get_class %}

 {% if node|get_class == "dict" %}
    {
    <div class="json-block-indent">
        {% for key, node in node.items %}
          {% if key != "comment" %}
            {% if node|get_class == "str" %}
                <strong>{{ key }}</strong>: <span class="json-block-str">"{{ node }}"</span><br>
            {% elif node|get_class == "int" or node|get_class == "float" %}
                <strong>{{ key }}</strong>: <span class="json-block-int">{{ node }}</span><br>
            {% elif node|get_class == "bool" %}
                <strong>{{ key }}</strong>: <span class="json-block-bool">{{ node }}</span><br>
            {% elif node|get_class == "list" %}
                <strong>{{ key }}</strong>: {%include "ddosdb/json-tree.html" %}<br>
            {% elif node|get_class == "dict" %}
                <strong>{{ key }}</strong>: {%include "ddosdb/json-tree.html" %}<br>
            {% endif %}
          {% endif %}
        {% endfor %}
    </div>
    }
 {% elif node|get_class == "list" %}
    [
    <div class="json-block-indent">
        {% for node in node|slice:":10" %}
            {% if node|get_class == "str" %}
                <span class="json-block-str">"{{ node }}"</span><br>
            {% elif node|get_class == "int" or node|get_class == "float" %}
                <span class="json-block-int">{{ node }}</span><br>
            {% elif node|get_class == "bool" %}
                <span class="json-block-bool">{{ node }}</span><br>
            {% elif node|get_class == "list" %}
                {%include "ddosdb/json-tree.html" %}<br>
            {% elif node|get_class == "dict" %}
                {%include "ddosdb/json-tree.html" %}<br>
            {% endif %}
        {% endfor %}
        {% if node|length > 10 %}
            ...<br>
        {% endif %}
    </div>
    ]
 {% endif %}
