server {

    listen 80;
    listen [::]:80;

    server_name $DDOSDB_FQDN;
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;

    server_name $DDOSDB_FQDN;

    include snippets/well-known.conf;

    ssl_certificate /etc/letsencrypt/live/$DDOSDB_FQDN/cert.pem;
    ssl_certificate_key /etc/letsencrypt/live/$DDOSDB_FQDN/privkey.pem;
    include snippets/ssl-settings.conf;
    include snippets/ddosdb-locations.conf;
}
