
:root {
    --ddosdb-body-bg: bg-light;
    --ddosdb-card-body-bg: white;
    --ddosdb-bg: #cccccc;
    --ddosdb-bdr: #333333;
    --ddosdb-menu-bg: #eeeeee;
    --ddosdb-menu-bdr: #cccccc;
    --ddosdb-sel: #216fdf;
    --ddosdb-note-col: grey;
    /* #a00000 */
    --ddosdb-txt: #333333;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  font-size: 14pt !important;
  background-color:  var(--ddosdb-body-bg);
  font-weight: normal;
}
.ddosdb-table {
  font-size: 0.9rem !important;
}
/*
body {
  margin: 0;
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*/



[class*="container"] {
/*
    padding: 1rem;
*/

/*
    background-color: #ffeeff;
    border: 1px solid #808080;
    color: #0;
*/

    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

[class*="col"] {

    padding: 0.1rem;

/*
    background-color: #eeb5ee;
    border: 1px solid #808080;
    color: #0;
*/

}

/* Special styles to satisfy CSP setting (no unsafe-inline for style attrs) */
.menu-icon {
    font-size: 32px;
}
.overview-icon {
    font-size: 14px;
}
.ddosdb-green {
    color: green;
}
.ddosdb-red {
    color: red;
}
.ddosdb-grey {
    color: grey;
}
.ddosdb-black {
    color: black;
}
.ddosdb-lightgrey {
    color: lightgrey;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
/* End Special styles */


#menu.container {
    padding: 1rem;

    background-color: var(--ddosdb-menu-bg);
    border: 1px solid var(--ddosdb-menu-bdr);
    margin-top: 1rem;
    margin-bottom: 2rem;
}

#bar.container {
    padding-left: 2rem;
    padding-right: 0rem;

    background-color: var(--ddosdb-menu-bg);
    border: 1px solid var(--ddosdb-menu-bdr);
    margin-top: 0.1rem;
    margin-bottom: 0.2rem;
}


[class*="login"] {
    padding: 2rem;
    margin-top: 1rem;
    background-color: var(--ddosdb-menu-bg);
    border: 1px solid var(--ddosdb-menu-bdr);
}

input {
    margin-top: 1em;
    margin-bottom: 1em;
}

[class*="table"] {
    padding: 0.1rem;
}

.btn-ddosdb {
  color: #333333;
  border-color: var(--ddosdb-bdr);
  background-color: var(--ddosdb-bg);
}

.btn-ddosdb:hover {
  color: var(--ddosdb-sel);
  border-color: var(--ddosdb-sel);
}


thead {
    background-color: var(--ddosdb-bg);
    border: 1px solid var(--ddosdb-bdr);
    color: var(--ddosdb-txt);
}

thead a {
    color: var(--ddosdb-txt);
    font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--ddosdb-txt)
}


a:hover {
  color: var(--ddosdb-sel);
/*  font-weight: bold; */
/*  font-style: italic; */
}


.nav-link {
/*  color: #0a58ca; */
  color: var(--ddosdb-txt);
}

.nav-link:hover, .nav-link:focus {
/*  color: #0a58ca; */
  color: var(--ddosdb-sel);
}

.nav-link.disabled {
  color: lightgrey;
  pointer-events: none;
  cursor: default;
}


/* JSON block for query and details page */

.card {
    background-color: var(--ddosdb-body-bg);
    border: none;
}


.card-title {
    font-size: 12pt;
    font-weight: normal;
    background-color: var(--ddosdb-bg);
    border: 1px solid var(--ddosdb-bdr);
    color: var(--ddosdb-txt);
    margin-bottom: 0.2em;
}

.card-body {
    font-size: 10pt;
    font-weight: normal;
    background-color: var(--ddosdb-card-body-bg);
    border: 1px solid var(--ddosdb-bdr);
    color: var(--ddosdb-txt);
}

.card-footer {
    font-weight: normal;
    background-color: var(--ddosdb-menu-bg);
    border: 1px solid var(--ddosdb-bdr);
    margin-bottom: 0.2em;
    color: var(--ddosdb-txt);
}

.ddosdb-note {
  font-size: 0.875rem;
  font-weight: light;
  color: var(--ddosdb-note-col);
}


.json-block {
    font-family: monospace;
    font-size: 11pt;
    border: 1px solid var(--ddosdb-bdr);
}
.json-block-indent {
    padding-left: 1.5em;
}
.json-block-str {
    color: #005cbf;
}
.json-block-int {
    color: #1c7430;
}
.json-block-bool {
    color: #ff8200;
}
.jumbotron {
    border-radius: 0;
}
.ddosdb-title {
    font-size: 3rem;
}

.ddosdb-subtitle {
    font-size: 2.5rem;
}

@media (max-device-width: 600px) {
    .ddosdb-title {
        font-size: 2rem;
    }

    .ddosdb-subtitle {
        font-size: 1.8rem;
    }
}

.logo { max-width: 100%; }

.is-warning {
    border-color: #ffc107;
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.is-warning:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}