{% load static %}
{% load get_class %}
{% load multiply %}
{% load humanize %}


<!DOCTYPE html>
<html lang="en">
<title>DDosDB - Detailed View</title>
{% include 'ddosdb/header.html' %}
<body>
{% with title="Fingerprint Details" %}
    {% include 'ddosdb/menu.html' %}
{% endwith %}

<div class="container">
    <div class="row" id="results">
    {% for node in results %}
        <div class="col"></div>
        <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-12 my-2">
            <div class="card">
                <div class="card-title text-center" title="download fingerprint">
                    <a  href="{% url "download" %}?key={{ key|urlencode }}">
                    fingerprint {{ key }} <i class="bi-save overview-icon"></i>
                    </a>
                </div>
                  <div class="card-footer">
                    {% if node.comment %}
                      {{ node.comment|linebreaks }}
                    {% endif %}
                  </div>
                <div class="card-body json-block" id="result-{{ forloop.counter0 }}">
                    {% include "ddosdb/json-tree.html" %}
                </div>

            </div>
        </div>
        <div class="col"></div>
    {% endfor %}
    </div>
</div>

{% include "ddosdb/footer.html" %}
</body>
</html>
