{% load static %}
{% load get_class %}
{% load multiply %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<title>DDosDB - Edit Comment</title>
{% include "ddosdb/header.html" %}
<body>
{% with title="Edit Comment" %}
    {% include 'ddosdb/menu.html' %}
{% endwith %}


<div class="container">
    <div class="row" id="results">
        <div class="col"></div>
        <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-12 my-2">
            <div class="card">
                <div class="card-title text-center">comment for fingerprint {{ key }}</div>
                  <div class="card-footer text-center">
                    <form action="{% url "edit-comment" %}" method="post">
                      {% csrf_token %}
                      <input id="key" name="key" type="hidden" value="{{ key }}">
                      <div class="form-outline mb-3">
                        <textarea autofocus name="comment" rows="10" class="form-control col-md-2">{% if node.comment %}{{ node.comment }}{% endif %}</textarea>
                      </div>
                      <div class="form-outline mb-1">
                      <button type="submit" class="btn btn-ddosdb">Add Comment</button>
                      </div>
                      </form>
                  </div>
                <div class="card-body json-block" id="result-{{ forloop.counter0 }}">
                    {% include "ddosdb/json-tree.html" %}
                </div>

            </div>
        </div>
        <div class="col"></div>
    </div>
</div>

{% comment %}
<div class="container">
    <form action="{% url "edit-comment" %}" method="post">
      {% csrf_token %}
        <div class="row" id="results">
            <div class="col-lg-6 col-md-12 my-2">
                <div class="card">
                    <div class="card-footer">
                      <i>Comment for fingerprint {{ key }}</i><br/><br/>
                      <input id="key" name="key" type="hidden" value="{{ key }}">
                      <textarea autofocus name="comment" cols="50" rows="10" style="resize:none;border:none">{% if node.comment %}{{ node.comment }}{% endif %}</textarea>
                      <button type="submit" class="btn btn-dark btn-sm">Add Comment</button>
                    </div>
                    <div class="card-footer" id="result-0">
                        {% include "ddosdb/json-tree.html" %}
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endcomment %}

{% include "ddosdb/footer.html" %}
</body>
</html>
