{% load static %}
<footer class="my-5 pt-2 text-muted text-center text-small">
{% comment %}
  <img src="{% static "ddosdb/img/logo-sidnlabs.svg" %}" height="64">
  &nbsp;&nbsp;&nbsp;&nbsp;
  <img src="{% static "ddosdb/img/logo-SURF.svg" %}" height="48">
  &nbsp;&nbsp;&nbsp;&nbsp;
{% endcomment %}

  <img src="{% static "ddosdb/img/logo-CONCORDIA1.svg" %}" height="64">

{% comment %}
  &nbsp;&nbsp;
  <img src="{% static "ddosdb/img/logo-ut.png" %}" style="height="55">
{#    <p class="mb-1">© 2018 J.J.C. Santanna</p> #}
{% endcomment %}


  {% if time %}
<div class="row">
  <div class="col-12">
      <small class="text-muted text-right" align="middle"> {{ time }} seconds</small>
  </div>
</div>
  {% endif %}

  <ul class="list-inline">
        <!--
        <li class="list-inline-item"><a class="text-dark" href="#">Documentation</a></li>
        <li class="list-inline-item"><a class="text-dark" href="#">FAQ</a></li>
        <li class="list-inline-item"><a class="text-dark" href="#">Terms of Use</a></li>
        <li class="list-inline-item"><a class="text-dark" href="#">Privacy Policy</a></li>
        <li class="list-inline-item"><a class="text-dark" href="mailto:j.j.santanna@utwente.nl">Contact Us</a></li>
        -->
  </ul>
</footer>
