{% load static %}
<!DOCTYPE html>
<html lang="en">
<title>DDoSDB - Help with searches</title>
{% include 'ddosdb/header.html' %}
<body class="bg-light">
{% include 'ddosdb/menu.html' %}
<div class="jumbotron">
    <div class="container">
        <div class="text-left">
            <h1 class="display-4">Help and information</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-7 col-lg-8 mt-sm-4">
            <h2 class="" id="query-language">Query language</h2>
            <p class="lead">
                DDoSDB uses the MongoDB Query Language (MQL).
                <code>protocol: "DNS"</code> will match all DNS attacks,
                <code>(protocol: "DNS" OR protocol: "UDP") AND NOT (src_ips: "127.0.0.1")</code> matches all DNS and UDP attacks that are not from IP 127.0.0.1.
                <code>dst_ports: [10 TO 50]</code> matches all attacks where the destination port is in the range 10 to 50.
            </p>
            <h2 class="" id="sorting">Sorting</h2>
            <p class="lead">
                DDoSDB follows Elasticsearch sorting conventions. The default sorting method is <code>_score</code>,
                which uses the internal score of the match.
                More complex queries can be constructed, like <code>file_type:asc,duration_sec:desc</code>,
                which will sort by file type in ascending order first, then sort for the duration in descending order.
                Certain fields may require you to search by the content instead of the key, like <code>start_time.keyword:desc</code>
            </p>
        </div>
    </div>
</div>

{% include "ddosdb/footer.html" %}
</body>
</html>