{% load static %}
<!DOCTYPE html>
<html lang="en">
<title>DDoSDB</title>
{% include 'ddosdb/header.html' %}
<body>

{% with title="DDoS DB" %}
    {% include 'ddosdb/menu.html' %}
{% endwith %}

<div class="jumbotron">
    <div class="container" id="bar">
        <div class="pb-md-5 pb-sm-3 my-4 text-center">
            <h2 class="display-4 ddosdb-subtitle"><strong>Collecting</strong> and <strong>Sharing</strong> important information about <strong>DDoS attacks</strong></h2>
        </div>

        <div class="container my-4" align="center">
            <a class="btn btn-ddosdb" href="{% url "overview" %}">Overview</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            OR
            &nbsp;&nbsp;&nbsp;&nbsp;
            {% if perms.ddosdb.add_query %}
            <a class="btn btn-ddosdb" href="{% url "query" %}?q=">Search</a>
            {% else %}
            <a class="btn btn-ddosdb disabled" >Search</a>
            {% endif %}
        </div>
    </div>
</div>
<div class="container my-5 align-top">
    <div class="row align-items-start">
        <div class="col-sm-12">
            <h1 class="display-4 ddosdb-subtitle text-center">What is DDoSDB?</h1>
        </div>
    </div>
    <div class="row align-items-start">
        <div class="col-sm-12 col-md-2">
            <img src="{% static "ddosdb/img/illustration.svg" %}" class="img-fluid w-100 p-2">
        </div>
        <div class="col-sm-12 col-md-9">
            <p>
                DDoSDB is a platform for helping victims of DDoS attacks, the academic community,
                and the security community to share and get access to actual and enriched information of DDoS attacks.
                The purpose of sharing attacks is to enable comparison with other attacks,
                facilitate legal attribution, and improve detection and mitigation strategies.
            </p>
            <p>
                DDosDB provides an interface for searching unique characteristics of attacks (fingerprints) and
                also provides a sample of its actual attack data (ex. pcap and nfdump file).
                All data within DDoSDB come from collaborators that own attack data (usually collected as victim).
                We facilitate collaborators data sharing by providing an open source code that analyses an attack,
                generates fingerprints, and anonymizes the identity of the victim (<a href="https://github.com/jjsantanna/ddosdb" target="_blank">link</a>).
            </p>
        </div>
    </div>
</div>

<!--<div class="jumbotron bg-dark text-light text-center">-->
    <div class="container my-5 bg-dark text-light text-center">
        <h1 class="display-4 ddosdb-title">Search for attacks</h1>
        <p class="lead">Take advantage of the best public DDoS attack database for improving your defence strategies.</p>
    </div>
<!--</div>-->

{% include "ddosdb/footer.html" %}
</body>
</html>
