{% load get_class %}

 {% if node|get_class == "dict" %}
    {
    <div class="json-block-indent">
        {% for key, value in node.items %}
          {% if key != "comment" %}
            {% if value|get_class == "str" %}
                <strong>{{ key }}</strong>: <span class="json-block-str">"{{ value }}"</span><br>
            {% elif value|get_class == "int" or value|get_class == "float" %}
                <strong>{{ key }}</strong>: <span class="json-block-int">{{ value }}</span><br>
            {% elif value|get_class == "bool" %}
                <strong>{{ key }}</strong>: <span class="json-block-bool">{{ value }}</span><br>
            {% elif value|get_class == "list" %}
                <strong>{{ key }}</strong>: {%include "ddosdb/json-tree.html" with node=value %}<br>
            {% elif value|get_class == "dict" %}
                <strong>{{ key }}</strong>: {%include "ddosdb/json-tree.html" with node=value %}<br>
            {% else %}
              <strong>{{ key }}</strong>: <span class="json-block-bool">{{ value }}</span><br>
            {% endif %}
          {% endif %}
        {% endfor %}
    </div>
    }
 {% elif node|get_class == "list" %}
    [
    <div class="json-block-indent">
        {% for value in node|slice:":10" %}
            {% if value|get_class == "str" %}
                <span class="json-block-str">"{{ value }}"</span><br>
            {% elif value|get_class == "int" or value|get_class == "float" %}
                <span class="json-block-int">{{ value }}</span><br>
            {% elif value|get_class == "bool" %}
                <span class="json-block-bool">{{ value }}</span><br>
            {% elif value|get_class == "list" %}
                {%include "ddosdb/json-tree.html" with node=value %}<br>
            {% elif value|get_class == "dict" %}
                {%include "ddosdb/json-tree.html" with node=value %}<br>
            {% endif %}
        {% endfor %}
        {% if node|length > 10 %}
            ...<br>
        {% endif %}
    </div>
    ]
 {% endif %}
