{% load static %}
{% load get_class %}
{% load get_item %}
{% load multiply %}
{% load humanize %}
{% load precision %}
{% load str_todatetime %}
{% load short_list %}

<!DOCTYPE html>
<html lang="en">
<title>DDosDB - Overview</title>
{% include 'ddosdb/header.html' %}
<body>

{% with title="Fingerprints Overview" %}
    {% include 'ddosdb/menu.html' %}
{% endwith %}

{% comment %}
<div class="container">
  {% if q != "" %}
    <h1 align="center" class="display-4 ddosdb-subtitle">Overview of some fingerprints ({{ results|length }}) - (<a href="{% url "overview" %}?q=&o={{ o }}&so={{ so }}&son={{ son }}">show all</a>)</h1>
  {% else %}
    <h1 align="center" class="display-4 ddosdb-subtitle">Overview of all fingerprints ({{ results|length }})</h1>
  {% endif %}
</div>
{% endcomment %}

<div class="container">
  <table class="table table-sm table-hover text-center ddosdb-table" align="center">
    <thead>
      <tr>
        <th nowrap="nowrap"></th>
        {% for hdr,name in headers.items %}
          <th nowrap="nowrap">
          {% if hdr == o %}
            <div title="change to {{ son }} sort order">
            <a href="{% url "overview" %}?q={{ q }}&o={{ hdr }}&so={{ son }}&son={{ so }}">
              <img width="16" height="16" src="{% static "ddosdb/img/" %}{{ so }}.png" alt="sort order is {{ so }}">
          {% else %}
            <div title="order by '{{name}}' ({{ so }})">
            <a href="{% url "overview" %}?q={{ q }}&o={{ hdr }}&so={{ so }}&son={{ son }}">
              <img width="16" height="16" src="{% static "ddosdb/img/empty_sort.png" %}">
          {% endif %}
              {{ name }}
            </a>
          {% if hdr == "submitter" and q != "" %}
            <a href="{% url "overview" %}?q=&o={{ o }}&so={{ so }}&son={{ son }}">
              <i class="bi-x-lg overview-icon ddosdb-red"></i>
            </a>
          {% endif %}
            </div>
          </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for node in results %}
        <tr>
          <td>
            {% if user.username == node|get_item:"submitter"  or user.is_superuser %}
              {% if o %}
                <a href="{% url "delete" %}?key={{node|get_item:'key'}}&q={{ q }}&o={{ o }}&so={{ so }}&son={{ son }}">
              {% else %}
                <a href="{% url "delete" %}?key={{node|get_item:'key'}}&q={{ q }}&o=key&so={{ so }}&son={{ son }}">
              {% endif %}
                  <div title="delete {{ node|get_item:'key' }}"><i class="bi-trash overview-icon"></i></div>
                </a>
          {% else %}
            <i class="bi-trash ddosdb-lightgrey overview-icon"></i>
          {% endif %}
          </td>
          {% for hdr,name in headers.items %}
          <td>
            {% if hdr == "multivector_key" %}
            {% comment %}
              <a href="{% url "query" %}?q=multivector_key:{{ node|get_item:hdr|urlencode }}">
            {% endcomment %}
                {{node|get_item:hdr}}
            {% comment %}
              </a>
            {% endcomment %}
            {% elif hdr == "key" %}
              <div title="open detailed view">
                <a  href="{% url "details" %}?key={{ node|get_item:hdr|urlencode }}">
                  {{node|get_item:hdr}}
                </a>
              </div>
            {% elif hdr == "submitter" %}
              <div title="click to show only fingerprints submitted by user '{{node|get_item:hdr}}'">
                <a href="{% url "overview" %}?q=submitter:{{ node|get_item:hdr|urlencode }}&o={{ o }}&so={{ so }}&son={{ son }}">
                  {{node|get_item:hdr}}
                </a>
              </div>
            {% elif hdr == "shareable" %}
                {% if user.username == node|get_item:"submitter" or user.is_superuser %}
                  <div title="click to toggle shareable status">
                    <a href="{% url "toggle-shareable" %}?q={{ q }}&key={{node|get_item:"key"}}&o={{ o }}&so={{ so }}&son={{ son }}&shareable={{node|get_item:hdr}}">
                    {% if node|get_item:hdr == True %}
                      <i class="bi-check-circle overview-icon ddosdb-green" ></i>
                    {% else %}
                      <i class="bi-x-circle overview-icon ddosdb-red"></i>
                    {% endif %}
                    </a>
                  </div>
                {% else %}
                  <div title="shareable status">
                    {% if node|get_item:hdr == True %}
                      <i class="bi-check-circle overview-icon ddosdb-grey"></i>
                    {% else %}
                      <i class="bi-x-circle overview-icon ddosdb-grey"></i>
                    {% endif %}
                  </div>
                {% endif %}
            {% elif hdr == "duration_sec" %}
                {{node|get_item:hdr|precision:3}}
            {% elif hdr == "avg_bps" %}
                <div class="text-end">{{node|get_item:hdr|precision:0|intcomma}}</div>
            {% elif hdr == "avg_pps" %}
                <div class="text-end">{{node|get_item:hdr|precision:0|intcomma}}</div>
            {% elif hdr == "total_ips" %}
                <div class="text-end">{{node|get_item:hdr|precision:0|intcomma}}</div>
            {% elif hdr == "total_packets" %}
                <div class="text-end">{{node|get_item:hdr|precision:0|intcomma}}</div>
            {% elif hdr == "submit_timestamp" %}
                {{node|get_item:hdr|str_todatetime|date:'Y-m-d'}}
            {% elif hdr == "tags" %}
              <div title="{{node|get_item:hdr|short_list:1}}">
                {{node|get_item:hdr|short_list:0}}
              </div>
            {% elif hdr == "comment" %}
              <div title="{{node|get_item:hdr}}">
                {% if user.username == node|get_item:"submitter"  or user.is_superuser %}
                  <span class="float-left">
                    &nbsp;<a href="{% url "edit-comment" %}?key={{node|get_item:"key"}}">
                      <i class="bi-pencil-square"></i>
                    </a>
                  </span>
                {% endif %}
                {{node|get_item:hdr|truncatechars:10}}
              </div>
            {% else %}
              {{node|get_item:hdr}}
            {% endif %}
          </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="container text-centered">
  {% if remotedbs %}
  <p align="center" class="text-muted">
    <a class="btn btn-ddosdb" target="_blank" href="/admin/ddosdb/remoteddosdb/">Remote DBs</a>
{% comment %}
    {% if syncfps > 0 %}
{% endcomment %}
      &nbsp;<a class="btn btn-ddosdb" target="_blank" href="{% url "remote-sync" %}">Sync</a>
{% comment %}
    {% endif %}
{% endcomment %}
  </p>
  <p align="center" class="text-muted"><small>{{ remotedbs|length }} remote DBs (
    {% for node in remotedbs %}
        {{node|get_item:'name'}},
    {% endfor %}
    ),
    {{ syncfps }} Fingerprints to sync (push)</small>
{% comment %}
      {% for node in results %}
        {% if node|get_item:'shareable' == True %}
          {{node|get_item:'key'}} |
        {% endif %}
      {% endfor %}
{% endcomment %}
    <br/>
  </p>
  {% endif %}
</div>


 {% include "ddosdb/footer.html" %}
</body>
</html>
