{% load static %}
{% load get_class %}
{% load get_item %}
{% load multiply %}
{% load humanize %}
{% load precision %}
{% load str_todatetime %}
{% load short_list %}
{% load hr_bps %}

<!DOCTYPE html>
<html lang="en">
<title>DDosDB - Overview</title>
{% include 'ddosdb/header.html' %}
<body>

{% with title="Fingerprints Overview" %}
    {% include 'ddosdb/menu.html' %}
{% endwith %}


<div class="container">
  <div class="row align-items-center">
    <div class="col-sm"></div>
    <div class="col-sm-1"></div>
    <div class="col-sm-1 text-end">
      {% if p > 0 %}
      <a href="{% url "overview" %}?q={{ q }}&o={{ o }}&so={{ so }}&son={{ son }}&plen={{ plen }}&p=0">
       <i class="bi-skip-backward-fill ddosdb-black"></i>
      </a>
      {% else %}
       <i class="bi-skip-backward ddosdb-grey"></i>
      {% endif %}
      &nbsp;
      {% if p > 0 %}
        <a href="{% url "overview" %}?q={{ q }}&o={{ o }}&so={{ so }}&son={{ son }}&plen={{ plen }}&p={{ pprev }}">
        <i class="bi-skip-start-fill ddosdb-black"></i>
        </a>
      {% else %}
        <i class="bi-skip-start ddosdb-grey"></i>
      {% endif %}
    </div>
    <div class="col-sm-1 text-center">
      {{ p|add:1 }}/{{ plast|add:1 }}
    </div>
    <div class="col-sm-1 text-start">
      {% if pnext > 0 %}
        <a href="{% url "overview" %}?q={{ q }}&o={{ o }}&so={{ so }}&son={{ son }}&plen={{ plen }}&p={{ pnext }}">
        <i class="bi-skip-end-fill ddosdb-black"></i>
        </a>
      {% else %}
        <i class="bi-skip-end ddosdb-grey"></i>
      {% endif %}
      &nbsp;
      {% if plast > 0 and plast > p %}
      <a href="{% url "overview" %}?q={{ q }}&o={{ o }}&so={{ so }}&son={{ son }}&plen={{ plen }}&p={{ plast }}">
       <i class="bi-skip-forward-fill ddosdb-black"></i>
      </a>
      {% else %}
       <i class="bi-skip-forward ddosdb-grey"></i>
      {% endif %}
    </div>
    <div class="col-sm-1">
      <form class="form-inline" action="{% url "overview" %}" method="get">
        {% csrf_token %}
        <input type="text" class="form-control col-sm-1 text-end" name="plen" placeholder="#results/page" value="{{ plen }}"/>
        <input type="hidden" name="q" value="{{ q }}"/>
        <input type="hidden" name="o" value="{{ o }}"/>
        <input type="hidden" name="so" value="{{ so }}"/>
        <input type="hidden" name="son" value="{{ son }}"/>
      </form>
    </div>
    <div class="col-sm">results per page</div>
  </div>
</div>

<div class="container">
  <table class="table table-sm table-hover text-center ddosdb-table" align="center">
    <thead>
      <tr>
        <th nowrap="nowrap"></th>
        <th nowrap="nowrap"></th>
        {% for hdr,name in headers.items %}
          <th nowrap="nowrap">
          {% if hdr == o %}
            <div title="change to {{ son }} sort order">
            <a href="{% url "overview" %}?q={{ q }}&o={{ hdr }}&so={{ son }}&son={{ so }}&plen={{ plen }}&p={{ p }}">
              <img width="16" height="16" src="{% static "ddosdb/img/" %}{{ so }}.png" alt="sort order is {{ so }}">
          {% else %}
            <div title="order by '{{name}}' ({{ so }})">
            <a href="{% url "overview" %}?q={{ q }}&o={{ hdr }}&so={{ so }}&son={{ son }}&plen={{ plen }}&p={{ p }}">
              <img width="16" height="16" src="{% static "ddosdb/img/empty_sort.png" %}">
          {% endif %}
              {{ name }}
            </a>
          {% if hdr == "submitter" and q|length > 0 %}
            <a href="{% url "overview" %}?q=&o={{ o }}&so={{ so }}&son={{ son }}&plen={{ plen }}&p={{ p }}">
              <i class="bi-x-circle overview-icon ddosdb-red"></i>
            </a>
          {% endif %}
            </div>
          </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for node in results %}
        <tr>
          <td>
            {% if user.username == node|get_item:"submitter" or perms.ddosdb.delete_fingerprint %}
              {% if o %}
                <a href="{% url "delete" %}?key={{node|get_item:'key'}}&q={{ q }}&o={{ o }}&so={{ so }}&son={{ son }}&plen={{ plen }}&p={{ p }}">
              {% else %}
                <a href="{% url "delete" %}?key={{node|get_item:'key'}}&q={{ q }}&o=key&so={{ so }}&son={{ son }}&plen={{ plen }}&p={{ p }}">
              {% endif %}
                  <div title="delete {{ node|get_item:'key' }}"><i class="bi-trash overview-icon"></i></div>
                </a>
          {% else %}
            <i class="bi-trash ddosdb-lightgrey overview-icon"></i>
          {% endif %}
          </td>
          <td>
            <a href="{% url "download" %}?key={{node|get_item:'key'}}">
              <div title="download {{ node|get_item:'key' }}"><i class="bi-save overview-icon"></i></div>
            </a>
          </td>
          {% for hdr,name in headers.items %}
          <td>
            {% if hdr == "multivector_key" %}
            {% comment %}
              <a href="{% url "query" %}?q=multivector_key:{{ node|get_item:hdr|urlencode }}">
            {% endcomment %}
                {{node|get_item:hdr|truncatechars:8}}
            {% comment %}
              </a>
            {% endcomment %}
            {% elif hdr == "key" %}
              <div title="open detailed view">
                <a  href="{% url "details" %}?key={{ node|get_item:hdr|urlencode }}">
                  {{node|get_item:hdr|truncatechars:8}}
                </a>
              </div>
            {% elif hdr == "submitter" %}
              <div title="click to show only fingerprints submitted by user '{{node|get_item:hdr}}'">
                <a href="{% url "overview" %}?q=submitter:{{ node|get_item:hdr|urlencode }}&o={{ o }}&so={{ so }}&son={{ son }}&plen={{ plen }}&p={{ p }}">
                  {{node|get_item:hdr}}
                </a>
              </div>
            {% elif hdr == "shareable" %}
                {% if user.username == node|get_item:"submitter" or perms.ddosdb.edit_sync_fingerprint %}
                  <div title="click to toggle shareable status">
                    <a href="{% url "toggle-shareable" %}?q={{ q }}&key={{node|get_item:"key"}}&o={{ o }}&so={{ so }}&son={{ son }}&plen={{ plen }}&p={{ p }}&shareable={{node|get_item:hdr}}">
                    {% if node|get_item:hdr == True %}
                      <i class="bi-check-circle overview-icon ddosdb-green" ></i>
                    {% else %}
                      <i class="bi-x-circle overview-icon ddosdb-red"></i>
                    {% endif %}
                    </a>
                  </div>
                {% else %}
                  <div title="shareable status">
                    {% if node|get_item:hdr == True %}
                      <i class="bi-check-circle overview-icon ddosdb-grey"></i>
                    {% else %}
                      <i class="bi-x-circle overview-icon ddosdb-grey"></i>
                    {% endif %}
                  </div>
                {% endif %}
            {% elif hdr == "duration_sec" %}
                {{node|get_item:hdr|precision:3}}
            {% elif hdr == "avg_bps" %}
                <div class="text-end">{{node|get_item:hdr|precision:0|hr_bps}}</div>
            {% elif hdr == "avg_pps" %}
                <div class="text-end">{{node|get_item:hdr|precision:0|intcomma}}</div>
            {% elif hdr == "total_ips" %}
                <div class="text-end">{{node|get_item:hdr|precision:0|intcomma}}</div>
            {% elif hdr == "total_packets" %}
                <div class="text-end">{{node|get_item:hdr|precision:0|hr_bps:''}}</div>
            {% elif hdr == "submit_timestamp" %}
                {{node|get_item:hdr|str_todatetime|date:'Y-m-d'}}
            {% elif hdr == "time_start" %}
                {{node|get_item:hdr|str_todatetime|date:'Y-m-d G:i:s'}}
            {% elif hdr == "tags" %}
              <div title="{{node|get_item:hdr|short_list:1}}">
                {{node|get_item:hdr|short_list:0}}
              </div>
            {% elif hdr == "comment" %}
              <div title="{{node|get_item:hdr}}">
                {% if user.username == node|get_item:"submitter"  or perms.ddosdb.edit_comment_fingerprint %}
                  <span class="float-left">
                    &nbsp;<a href="{% url "edit-comment" %}?key={{node|get_item:"key"}}">
                      <i class="bi-pencil-square"></i>
                    </a>
                  </span>
                {% endif %}
                {{node|get_item:hdr|truncatechars:32}}
              </div>
            {% else %}
              {{node|get_item:hdr}}
            {% endif %}
          </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="container text-centered">
  {% if remotedbs %}
  <p align="center" class="text-muted">
    <a class="btn btn-ddosdb" target="_blank" href="/admin/ddosdb/remoteddosdb/">Remote DBs</a>
{% comment %}
    {% if syncfps > 0 %}
{% endcomment %}
      &nbsp;<a class="btn btn-ddosdb" target="_blank" href="{% url "remote-sync" %}">Sync</a>
{% comment %}
    {% endif %}
{% endcomment %}
  </p>
{% comment %}
  <p align="center" class="text-muted"><small>{{ remotedbs|length }} remote DBs (
    {% for node in remotedbs %}
        {{node|get_item:'name'}},
    {% endfor %}
    ),
    {{ syncfps }} Fingerprints to sync (push)</small>
      {% for node in results %}
        {% if node|get_item:'shareable' == True %}
          {{node|get_item:'key'}} |
        {% endif %}
      {% endfor %}
    <br/>
  </p>
{% endcomment %}
  {% endif %}
</div>

<div class="container text-centered">
  {% if misps %}
  <p align="center" class="text-muted">
    <a class="btn btn-ddosdb" target="_blank" href="/admin/ddosdb/misp/">MISPs</a>
   &nbsp;<a class="btn btn-ddosdb" target="_blank" href="{% url "misp-sync" %}">Sync</a>
  </p>

{% comment %}
  <p align="center" class="text-muted"><small>{{ misps|length }} MISPs (
    {% for node in misps %}
        {{node|get_item:'name'}},
    {% endfor %}
    ),
    {{ syncfps }} Fingerprints to sync (push)</small>
    <br/>
  </p>
{% endcomment %}
  {% endif %}
</div>



 {% include "ddosdb/footer.html" %}
</body>
</html>
