{% load static %}
{% load get_class %}
{% load get_item %}
{% load multiply %}
{% load humanize %}
{% load precision %}
{% load str_todatetime %}

<!DOCTYPE html>
<html lang="en">
{% include 'ddosdb/header.html' %}
<body>
{% with title="Remote DDoS-DB Sync results" %}
    {% include 'ddosdb/menu.html' %}
{% endwith %}

{% if result %}
<div>
  <table class="table-hover" id="overview-table" align="center">
    <thead>
      <tr>
        <th nowrap="nowrap">Remote DDoS-DB</th>
        <th nowrap="nowrap">Type</th>
        <th nowrap="nowrap">Status</th>
        <th nowrap="nowrap">Description</th>
        <th nowrap="nowrap">Fingerprints synced</th>
      </tr>
    </thead>
    <tbody>
      {% for node in result %}
        <tr>
          <td>{{node|get_item:'name'}}</td>
          <td>{{node|get_item:'type'}}</td>
          <td>
            {% if node|get_item:'status' == 200 or node|get_item:'status' == 201 %}
              <img width="16" height="16" src="{% static "ddosdb/img/green_check.svg" %}">
            {% else %}
              <img width="16" height="16" src="{% static "ddosdb/img/red_cross.svg" %}">
            {% endif %}
          </td>
          <td>{{node|get_item:'status_reason'}} ({{node|get_item:'status'}})</td>
          <td>
          {% if node|get_item:'unk_fps_nr' == 0 %}
            {{node|get_item:'unk_fps_nr'}}
          {% else %}
            {% for fp in node|get_item:'unk_fps' %}
              {{ fp }}<br/>
            {% endfor %}
          {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

<div class="col-sm-12">
  {% include "ddosdb/footer.html" %}
</div>
</body>
</html>
